@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-pro-text-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-pro-text-medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-pro-text-semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-pro-text-bold.woff") format("woff");
  font-weight: 700;
}

/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "SF Pro Text", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #263856;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* HEADER */

.header {
  width: 100%;
  padding: 0 20px;
}

.header__content {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header__content a {
  transition: opacity 0.3s ease;
}

.header__content a:hover {
  opacity: 0.8;
}

.header__content img {
  width: 206px;
  height: 46px;
}

/* HERO */

.hero {
  width: 100%;
  padding: 156px 20px 0;
  background-image: url(./images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 620px;
  background-position: center right;
  color: #fff;
}

.hero__content {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.hero__content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  max-width: 544px;
}

.hero__content p {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  max-width: 480px;
}

/* RESEARCH */

.research {
  width: 100%;
  padding: 0 20px;
}

.research__content {
  width: 100%;
  max-width: 1120px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 128px 0 96px;
}

/* image box */

.research__content > .rc__image-box {
  width: 48.5%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  align-self: start;
}

.research__content > .rc__image-box > div {
  width: 11.7%;
  aspect-ratio: 1;
  background: #edd584;
  border-radius: 12px;
  transform: translateY(-50%);
}

.research__content > .rc__image-box > img {
  width: 82.4%;
  aspect-ratio: 448 / 372;
}

.research__content > .rc__image-box > img.mob {
  display: none;
}

/* text box */

.research__content > .rc__text-box {
  width: 45.8%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.research__content > .rc__text-box > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

.research__content > .rc__text-box > div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.research__content > .rc__text-box > div > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

/* HOW */

.how {
  width: 100%;
  padding: 0 20px;
  background: #eff8ff;
}

.how__content {
  width: 100%;
  max-width: 928px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 96px 0;
}

.how__content > h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

.how__content > p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 64px;
  text-align: center;
}

.how__content > ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.how__content > ul > li {
  width: 100%;
  background: #fff;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 12px;
  column-gap: 32px;
}

.how__content > ul > li > div.image-body img {
  width: 100px;
  aspect-ratio: 100 / 96;
}

.how__content > ul > li > div.image-body img.mob {
  display: none;
}

.how__content > ul > li > div.image-body h3 {
  display: none;
  color: #263856;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.how__content > ul > li > div.text-body {
  width: calc(100% - 100px - 32px);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.how__content > ul > li > div.text-body > h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

/* INFO */

.info {
  width: 100%;
  padding: 0 20px;
}

.info__content {
  width: 100%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 156px 0 64px;
}

/* image box */

.info__content > .ic__image-box {
  width: 48.5%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.info__content > .ic__image-box > div {
  width: 11.7%;
  aspect-ratio: 1;
  background: #d1e9ff;
  border-radius: 12px;
  transform: translateY(-50%);
}

.info__content > .ic__image-box > img {
  width: 82.4%;
  aspect-ratio: 448 / 372;
}

/* text box */

.info__content > .ic__text-box {
  width: 45.8%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.info__content > .ic__text-box > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

/* FORM */

.form {
  width: 100%;
  padding: 0 20px;
}

.form__content {
  width: 100%;
  max-width: 928px;
  padding: 0 0 96px;
  margin: 0 auto;
}

.form__form-box {
  width: 100%;
  background: #f2f4f7;
  border-radius: 12px;
  overflow: hidden;
}

.form__text-box {
  max-height: 444px;
  padding: 16px 14% 16px 16px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  scrollbar-width: 8px;
  margin-right: 10px;
  /* scrollbar-color: #BFD4EC #fff; */
  /* scrollbar-width: thin; */
}

.form__text-box::-webkit-scrollbar {
  width: 8px;
}
.form__text-box::-webkit-scrollbar-track {
  margin: 16px 0 0 0;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}

.form__text-box::-webkit-scrollbar-thumb {
  height: 126px;
  border-radius: 8px;
  background-color: #bfd4ec;
}

.form__text-box > ul {
  list-style: disc;
  padding-left: 20px;
}

.form__text-box > h4 {
  font-weight: 700;
}

.form__text-box a {
  text-decoration: none;
  color: #4582c9;
  transition: opacity 0.3s ease;
}

.form__text-box a:hover {
  opacity: 0.8;
}

.form__action-box {
  height: 96px;
  background: #f2f4f7;
  box-shadow: 0px -4px 10px 0px rgba(74, 93, 128, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}

.form__action-box > label {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  padding-left: 40px;
  user-select: none;
}

.form__action-box > label > input {
  width: 0;
  height: 0;
  position: relative;
  margin: 0;
  left: -30px;
  top: 10px;
}

.form__action-box > label > input::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(38, 56, 86, 0.6);
  top: -6px;
  left: -10px;
  transition: background 0.3s ease;
  cursor: pointer;
  background: #f2f4f7;
}

.form__action-box > label > input:checked::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #6786ac;
  top: -6px;
  left: -10px;
  background: #6786ac;
  background-image: url(./images/done.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.form__action-box > button {
  min-width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 32px;
  border: none;
  background: #4582c9;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form__action-box > button:hover {
  background: #225a9c;
}

.form__action-box > button:disabled {
  background: rgba(103, 134, 172, 0.3);
  color: #6786ac;
  cursor: default;
}

/* FOOTER */

.footer {
  width: 100%;
  padding: 0 20px;
  background: #e8eff8;
}

.footer__content {
  width: 100%;
  max-width: 1312px;
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__link-logo {
  transition: opacity 0.3s ease;
}

.footer__link-logo:hover {
  opacity: 0.8;
}

.footer__link-logo img {
  height: 32px;
}

.footer__link-mail {
  text-decoration: none;
  color: rgba(38, 56, 86, 0.6);
  transition: opacity 0.3s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer__link-mail:hover {
  opacity: 0.8;
}

.form__content > .image-search-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__content {
    min-height: 50px;
    justify-content: center;
  }

  .header__content img {
    width: 116px;
    height: 26px;
  }

  .hero {
    padding: 32px 16px 0;
    min-height: 582px;
    background-image: url(./images/hero-image-mob.jpg);
  }

  .hero__content {
    row-gap: 16px;
  }

  .hero__content h1 {
    font-size: 32px;
    line-height: 36px;
    max-width: 343px;
  }

  .hero__content p {
    font-size: 18px;
    line-height: 26px;
    max-width: 343px;
  }

  .research__content {
    padding: 64px 0;
    flex-direction: column-reverse;
    row-gap: 40px;
  }

  .research__content > .rc__image-box {
    width: 100%;
  }

  .research__content > .rc__text-box {
    width: 100%;
  }

  .research__content > .rc__image-box > div {
    display: none;
  }

  .research__content > .rc__image-box > img {
    width: 100%;
  }

  .research__content > .rc__image-box > img.mob {
    display: block;
  }

  .research__content > .rc__image-box > img.desc {
    display: none;
  }

  .how__content {
    padding: 64px 0;
  }

  .how__content > h2 {
    margin-bottom: 16px;
  }

  .how__content > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .how__content > ul {
    row-gap: 24px;
  }

  .how__content > ul > li > div.image-body img.desc {
    display: none;
  }

  .how__content > ul > li > div.image-body img.mob {
    display: block;
    width: 48px;
    height: 48px;
  }

  .how__content > ul > li > div.image-body h3 {
    display: inline-block;
  }

  .how__content > ul > li > div.text-body > h3 {
    display: none;
  }

  .how__content > ul > li {
    flex-direction: column;
    row-gap: 16px;
    padding: 24px 16px;
  }

  .how__content > ul > li > div.text-body {
    width: 100%;
  }

  .how__content > ul > li > div.image-body {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: start;
  }

  .info__content {
    padding: 64px 0 32px;
  }

  .info__content > .ic__image-box {
    display: none;
  }

  .info__content > .ic__text-box {
    width: 100%;
    align-items: center;
    row-gap: 16px;
  }

  .info__content > .ic__text-box > p {
    text-align: center;
  }

  .form {
    padding: 0;
  }

  .form__form-box {
    border-radius: 0;
  }

  .form__text-box {
    padding: 16px 20px;
  }

  .form__action-box {
    flex-direction: column;
    height: 168px;
    padding: 24px 20px;
  }

  .form__action-box > label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .form__action-box > label > input {
    top: 14px;
  }

  .form__action-box > button {
    width: 100%;
    max-width: 335px;
    padding: 18px 24px;
  }

  .form__content > .image-search-mob {
    display: block;
    width: calc(100% - 40px);
    aspect-ratio: 335 / 290;
    margin: 64px 20px 0;
  }

  .form__content {
    padding: 0 0 64px;
  }

  .footer__content {
    padding: 32px 0;
    flex-direction: column;
    row-gap: 32px;
  }
}

/* FORM PAGE */

.form-page {
  background: #f9fcff;
}

.form-page .form-block {
  padding: 64px 20px;
  width: 100%;
}

.form-page .form {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}

.form-page .form > .form-header > h1 {
  /* color: #263856; */
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

.form-page .form > .form-header > p {
  /* color: var(--Primary-Basic-Dark, var(--Color-Basic-black, #263856)); */
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.form-page .form .form-block-one,
.form-page .form .form-block-two {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  padding: 40px 96px;
  border-radius: 32px;
  border: 1px solid rgba(201, 214, 228, 0.6);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page .form .form-block-one > h2,
.form-page .form .form-block-two > h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 48px;
}

.form-page .form .form-block-one.hidden,
.form-page .form .form-block-two.hidden {
  overflow: hidden;
  max-height: 112px;
}

.form-page .form .form-block-one.hidden > h2,
.form-page .form .form-block-two.hidden > h2 {
  color: rgba(38, 56, 86, 0.6);
}

.form-page .form .form-block-one > .block-one_sex {
  display: flex;
  flex-direction: column;
}

.form-page .form .form-block-one > .block-one_sex,
.form-page .form .form-block-one > .block-one_age,
.form-page .form .form-block-one > .block-one_hws,
.form-page .form .form-block-one > .block-one_ethn {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  align-items: start;
  width: 100%;
}

/* age */

.form-page .form .form-block-one > .block-one_age label {
  width: 100%;
  max-width: 296px;
}
.form-page .form .form-block-one > .block-one_age input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* sex */

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs {
  display: flex;
  column-gap: 10px;
}

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs label {
  padding: 4px 12px 4px 8px;
  border-radius: 16px;
  border: 1px solid rgba(38, 56, 86, 0.60);
  background:#FFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs input {
  margin: 0;
  width: 14px;
  height: 14px;
  position: relative;
}

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs input:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #6786ac;
  background: #FFF;
  top: -1px;
  left: -1px;
}

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs input:checked:before {
  border: 1px solid #FF7C11;
}

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs input:checked:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #FF7c11;
  border-radius: 50%;
}

.form-page .form .form-block-one > .block-one_sex > .sex-box-inputs input[type=radio]:checked + p {
  color: #FF7C11;
}

/* Ethnicity */

.form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs label {
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 4px 12px 4px 8px;
  border-radius: 6px;
  border: 1px solid rgba(38, 56, 86, 0.60);
  background: #FFF;
  cursor: pointer;
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0;
}

.form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 6px;
  border: 1px solid rgba(38, 56, 86, 0.60);
  background: #fff;
  top: -1px;
  left: -1px;
}

.form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input:checked:before {
  background-image: url(./images/checkbox.svg);
  border: 1px solid #FF7C11;
  background-position: center center;
}

.form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input:checked + p {
  color: #FF7C11;
}

/* HWS */

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs {
  display: flex;
  column-gap: 10px;
}

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs label {
  padding: 4px 12px 4px 8px;
  border-radius: 16px;
  border: 1px solid rgba(38, 56, 86, 0.60);
  background:#FFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs input {
  margin: 0;
  width: 14px;
  height: 14px;
  position: relative;
}

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs input:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #6786ac;
  background: #FFF;
  top: -1px;
  left: -1px;
}

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs input:checked:before {
  border: 1px solid #FF7C11;
}

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs input:checked:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #FF7c11;
  border-radius: 50%;
}

.form-page .form .form-block-one > .block-one_hws > .hws-box-inputs input[type=radio]:checked + p {
  color: #FF7C11;
}

.form-page .form .form-block-one > .block-one_hw {
  border-radius: 12px;
  background: rgba(232, 239, 248, 0.60);
  padding: 24px 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 48px;
}

/* HW */

.form-page .form .form-block-one > .block-one_hw,
.form-page .form .form-block-one > .block-two_hw {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.form-page .form .form-block-one > .block-one_hw h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 8px;
}

.form-page .form .form-block-one > .block-one_hw span {
  color: #6786AC;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-page .form .form-block-one > .block-one_hw .hw-one-box-inputs {
  width: 100%;
  display: flex;
  column-gap: 16px;
}

.form-page .form .form-block-one > .block-one_hw .hw-one-box-inputs label {
  width: calc((100% - 16px) / 2);
}

.form-page .form .form-block-one > .block-one_hw .hw-one-box-inputs input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-page .form .form-block-one > .block-one_hw label {
  width: 100%;
}

.form-page .form .form-block-one > .block-one_hw input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-page .form .form-block-one > .block-one_sex h3,
.form-page .form .form-block-one > .block-one_hw h3,
.form-page .form .form-block-one > .block-one_ethn h3,
.form-page .form .form-block-one > .block-one_age h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}

.form-page .form .form-block-one > .block-one_hws h3,
.form-page .form .form-block-one > .block-one_ethn h3 {
  margin-bottom: 16px;
}

.form-page .form .form-block-one > .block-one_sex span,
.form-page .form .form-block-one > .block-one_ethn span {
  color: #6786AC;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

#button-continue {
  width: 100%;
  max-width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 14px 24px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.00);
  background: #4582C9;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .3s ease;
  cursor: pointer;
}

#button-continue:hover {
  opacity: .9;
}

/* errors */

.error-name,
.error-last-name,
.error-address,
.error-city,
.error-zip,
.error-country,
.error-state,
.error-ages,
.error-sex,
.error-eth,
.error-type,
.error-height,
.error-weight {
  margin-top: 4px;
  color: #D52C43;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.error-state.hidden,
.error-country.hidden,
.error-zip.hidden,
.error-city.hidden,
.error-address.hidden,
.error-name.hidden,
.error-last-name.hidden,
.error-ages.hidden,
.error-sex.hidden,
.error-eth.hidden,
.error-type.hidden,
.error-height.hidden,
.error-weight.hidden {
  display: none;
}

/* form part 2 */

.form-page .form .form-block-two .two-name-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  margin-bottom: 16px;
}

.form-page .form .form-block-two .two-name-box label {
  width: calc((100% - 16px) / 2);
}

.form-page .form .form-block-two .two-name-box input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-page .form .form-block-two .two-address-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 16px;
}

.form-page .form .form-block-two .two-address-box label {
  width: 100%;
}

.form-page .form .form-block-two .two-address-box input {
  width: 100%;
  padding: 14px 14px 14px 32px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-image: url(./images/field.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: left 10px center;
}

.form-page .form .form-block-two .two-city-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  margin-bottom: 16px;
}

.form-page .form .form-block-two .two-city-box label {
  width: calc((100% - 16px) / 2);
}

.form-page .form .form-block-two .two-city-box input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-page .form .form-block-two .two-country-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  margin-bottom: 16px;
}

.form-page .form .form-block-two .two-country-box .select-wrap {
  width: calc((100% - 16px) / 2);
}

.form-page .form .form-block-two .two-country-box select {
  -webkit-appearance: none; /* отключает стандартное отображение Safari */
  appearance: none;
  width: 100%;
  padding: 14px 40px 14px 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #757575;
  background-image: url(./images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center right 14px;
}

.form-page .form .form-block-two .two-country-box select.selected {
  color: #263856;
}

.form-page .form .form-block-two textarea {
  width: 100%;
  height: 88px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #8FABCF;
  background: #FFF;
  font-family: "SF Pro Text", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  resize: none;
  margin-bottom: 32px;
}

.form-page .form .form-block-two .nota {
  width: 100%;
  border-radius: 8px;
  background: rgba(122, 184, 255, 0.10);
  padding: 24px 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
}

.form-page .form .form-block-two .nota-head {
  width: 100%;
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 8px;
}

.form-page .form .form-block-two .nota-head > h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

#button-sub {
  width: 100%;
  max-width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 14px 24px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.00);
  background: #4582C9;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .3s ease;
  cursor: pointer;
}

#button-sub:hover {
  opacity: .9;
}

.break {
  display: none;
}

@media screen and (max-width: 767px) {
  .form-page .form .form-block-one,
  .form-page .form .form-block-two {
    padding: 24px 20px;
    border-radius: 16px;
  }

  .form-page .form .form-block-one > h2,
  .form-page .form .form-block-two > h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  .form-page .form .form-block-one.hidden,
  .form-page .form .form-block-two.hidden {
    max-height: 76px;
  }

  .form-page .form .form-block-one > .block-one_sex h3,
  .form-page .form .form-block-one > .block-one_hw h3,
  .form-page .form .form-block-one > .block-one_ethn h3,
  .form-page .form .form-block-one > .block-one_age h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .form-page .form .form-block-one > .block-one_sex > .sex-box-inputs {
    flex-direction: column;
    row-gap: 12px;
  }

  .form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs label {
    width: auto;
    padding: 8px;
  }

  .form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input {
    width: 24px;
    height: 20px;
    flex-shrink: 0;
  }

  .form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input::before {
    width: 24px;
    height: 24px;
    /* top: -2px; */
  }

  .form-page .form .form-block-one > .block-one_ethn > .ethn-box-inputs input:checked:before {
    background-size: 100%;
  }

  .form-page .form .form-block-one > .block-one_sex > .sex-box-inputs label {
    padding: 8px 12px;
    border-radius: 30px;
  }

  .form-page .form .form-block-one > .block-one_hws > .hws-box-inputs {
    width: 100%;
    column-gap: 12px;
  }

  .form-page .form .form-block-one > .block-one_hws > .hws-box-inputs label {
    padding: 8px 12px;
    border-radius: 30px;
    width: calc((100% - 12px) / 2);
    max-width: 172px;
  }

  .form-page .form .form-block-one > .block-one_hws {
    margin-bottom: 16px;
  }

  .form-page .form .form-block-one > .block-one_hw {
    padding: 40px 20px;
    width: calc(100% + 40px);
    border-radius: 0;
  }

  .break {
    display: block;
  }

  /* second block */

  .form-page .form .form-block-two .two-name-box {
    flex-direction: column;
    row-gap: 16px;
  }

  .form-page .form .form-block-two .two-name-box label {
    width: 100%;
  }

  .form-page .form .form-block-two .two-city-box {
    flex-direction: column;
    row-gap: 16px;
  }

  .form-page .form .form-block-two .two-city-box label {
    width: 100%;
  }

  .form-page .form .form-block-two .two-country-box {
    flex-direction: column;
    row-gap: 16px;
  }

  .form-page .form .form-block-two .two-country-box .select-wrap {
    width: 100%;
  }
}


/* SENT PAGE */

.sent {
  padding: 0 20px;
}

.sent-content {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 96px 0;
}

.sent-content > h2 {
  margin: 20px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}

.sent-content > p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.sent-content > p > a {
  color: #4582C9;
  text-decoration: none;
  transition: opacity .3s ease;
}

.sent-content > p > a:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
.sent {
  padding: 0 16px;
}

.sent-content {
  padding: 64px 0;
}
}
